.lastBookingsactive{
    height: 40%;
    border-radius: 15px;
    display: flex;
    place-items: center;
    justify-content: space-evenly; 
    color: white;
    background-color: #002980;
    overflow-y: scroll;
    margin-bottom: 1rem;
    border: solid;

}
.lastBookingsactive::-webkit-scrollbar {
    display: none;
  }
.lastBookings__dateactive{
    display: flex;
    flex-direction: column;
    place-items: center;
    color: white;
    margin-left: 10%;
    margin-right: 10px;
}
.lastBookings__infoactive{
    max-width: 60%;
    margin: auto;
}
.lastBookings__infoactive>h4{
    color:white;
}
.lastBookings__infoactive > h6{
    color:white;
    opacity: 0.8;
}
.lastBookings{
    height: 40%;
    margin-bottom:5px;
    border-radius: 15px;
    display: flex;
    place-items: center;
    justify-content: space-evenly; 
    overflow-y: scroll;
    border-color:#0029807e;
    margin-bottom: 1rem;
    border-style: solid ;
}
.lastBookings::-webkit-scrollbar {
    display: none;
  }

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.lastBookings__date{
    display: flex;
    flex-direction: column;
    place-items: center;
    color: #002980;
    margin-left: 10%;
    margin-right: 10px;
}
.lastBookings__info{
    max-width: 60%;
    margin: auto;
}
.lastBookings__info>h4{
    color:#002980;
    
}
.lastBookings__info > h6{
    color:#002980;
    opacity: 0.5;
}

.reviewButtonResponsive { 
    display: none; 
}

.reviewButton
{
    color:#002980;
    font-family: 'Neue Titles';
}
@media (max-width: 680px) {
    .reviewButtonResponsive { 
        display: inline-block; 
        font-size: 2em;   
        color:#002980;
    font-family: 'Neue Titles'; 
    }
    .reviewButton { display: none; }
}