::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0029809d;
    opacity: 5; /* Firefox */
    font-family: 'Helvetica Text';
    font-size: large;
  }

.login{
    display: grid;
    place-items: center;

    
}
.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: 70vh;
    width: 70vw;
    margin-top: 50px;
}
.login__container >h2{
    font-family: 'Neue Titles';
    color: #002980;
  
    font-size: xx-large;
    border-bottom: solid 3px #002980;

}
.login__containerForm{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.login__containerFormUser{
    border: none;
    border-bottom: solid 3px #002980;
    padding: 8px;
    width: 300px;
    outline:none;
}
.login__containerFormPassword{
    border: none;
    border-bottom: solid 3px #002980;
    padding: 8px;
    width: 300px;
    outline:none;


}
.login__containerFormLoginButton{
    color: white;
    background-color: #002980;
    border:none;
    padding: 1px 20px;
    font-family: 'Helvetica Text';
    font-size: large;
    width:100%;
    margin-top:50px;
}
.login__containerFormRegisterButton{
    color: #002980;
    background-color: white;
    padding: 1px 20px;
    margin-top: 20px ;
    border: solid 3px #002980;
    font-family: 'Helvetica Text';
    font-size: large;
    width: 100%;

}



.login__containerFormPassForg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__containerFormPassForg > label{
    font-size: small;
    color: #00298078;
    margin-top: 10px;
    border-bottom: solid 1px #002980;
    cursor: pointer;
}
.login__containerButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
